<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd

		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
    <!-- 开启隐式的注解驱动bean声明（即能够使用@Autowired注解注入Bean） -->
    <context:annotation-config />
    <!-- 定义aspectj切面支持 proxy-target-class="true"希望使用cglib作为切面代理-->
    <!--<aop:aspectj-autoproxy proxy-target-class="true"/>-->
    <!-- 开启事务注解驱动 -->
    <tx:annotation-driven />
    <!-- 默认包扫描路径 -->
    <context:component-scan base-package="com.waiter.service.common,com.waiter.utils.wechat"/>
    <!-- 加载配置文件 -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:redis.properties</value>
                <value>classpath:common.properties</value>
            </list>
        </property>
    </bean>
</beans>